﻿
@{
    ViewBag.Title = "AboutMe";
}

<p>姓名:邱品豪</p>
<p>學號:410603838</p>
<p>喜歡的水果:</p>



@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
    }

 <ol>
     @foreach (var item in fruits)
     {
           <li>
                @item
           </li>
      }
            
 </ol>

