﻿
@{
    ViewBag.Title = "day";
}
@model final_test.ViewModel.DayData

<from method="post" action="/Day/Day">
    請輸入數字: <input type="text" name="day" value="" />
    <input type="submit" value="查詢" /><br />
</from>
<br />


查詢結果: @Model.Level <br />    

